/.ipynb_checkpoints
/.vscode
/aurélien.ipynb
/Car
/Dataset
/datasets
/dataset_Facebook.csv
/dsProject
/Facebook.ipynb
/Hands-ON
/Heart
/HeartAttack
/Intento.py
/JobTitle
/Mall_customers
/police
/RedWine
/Tips.ipynb
/Titanic.ipynb
/Titanic1
/Top 48 automakers daily stock prices 2010-2022
/Tv_show